<div class="col-md-6 col-md-offset-1">
  <div>
    <label class="text-danger" ng-show="flag">Sorry,密码修改不成功！</label>
  </div>
  <form name="form" novalidate>
    <div class="form-group">
      <label class="control-label">旧密码：</label>
      <input class="form-control" type="password" ng-model="oldPass" required>
    </div>
    <div class="form-group">
      <label class="control-label">新密码：</label>
      <input class="form-control" type="password" ng-model="newPass" required>
    </div>
    <div class="form-group">
      <label class="control-label">再次确认：</label>
      <input class="form-control" type="password" ng-model="newPass2" required>
    </div>
  </form>
  <div class="pull-right">
    <button class="btn btn-primary" ng-click="change()" ng-disabled="form.$invalid">确认</button>
  </div>
</div>
