<label class="control-label">编辑个人资料</label><hr>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="form-group">
          <label class="control-label">用户名：</label>
          <input class="form-control" type="text" ng-model="user.userName">
        </div>
        <div class="form-group">
          <label class="control-label">性别：</label>
          <input type="radio" name="sex" ng-model="user.sex" ng-value="1">男&nbsp;&nbsp;
          <input type="radio" name="sex" ng-model="user.sex" ng-value="0">女
        </div>
        <div>
          <label class="control-label">Email：</label>
          <input class="form-control" type="email" ng-model="user.email">
        </div>
      </div>
    </div>
    <div class="pull-right">
      <button class="btn btn-primary" type="button" ng-click="modify()">确定</button>
    </div>
  </div>
</div>