.content{
	float: left;
}

.memoCommon{
	margin-left: 15px
}

.memoCommon a{
	text-decoration: none;
}

.memoCommon a:hover{
	text-decoration: underline;
}
	
.title{
	text-align: center;
	background-color: #66CCCC;
	font-size: 30px;
	height: 70px;
	line-height: 50px;
	margin-top: 0px;
}

.menu{
	float: left;
	margin-right: 10px;
	width: 25%;
	margin-top: 15px;
}

.right{
	float: left;
	border: 1px solid;
	width: 73%;
	height: 100%;
}

.defi{
	border: 0;
	color: black;
	background: white;			
}